<a href="https://colab.research.google.com/github/songqsh/MA2210/blob/main/src/bfs_bigM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BFS approach

In [3]:
# import packages
import numpy as np
import numpy.linalg as la
np.set_printoptions(suppress=True)
import itertools
import pandas as pd
import warnings
#ignore by message
warnings.filterwarnings("ignore", message="divide by zero encountered in true_divide")

In [13]:
# input initial tableau
M = 100000
c = np.array([3,5,0., 0, -M])
b = np.array([4., 12, 18])
A = np.array([
               [1, 0, 1, 0, 0], 
               [0, 2, 0, 1, 0],
               [3, 2, 0, 0, 1]
               ], dtype = float)
m, n = A.shape
m = m
n = n
print(f'{m} constraints and {n} variables')

pd.DataFrame(A) # print matrix

3 constraints and 5 variables

     0    1    2    3    4
0  1.0  0.0  1.0  0.0  0.0
1  0.0  2.0  0.0  1.0  0.0
2  3.0  2.0  0.0  0.0  1.0

In [26]:

def bfs(bv):
  print(f'bv is {bv}')
  try:
    bs = la.solve(A[:,bv], b)
    print(f'...bs is {bs}')
    
    if min(bs) >= 0:
      z=0
      for i in range(m):
        z = z + c[bv[i]]*bs[i]
      print(f'...feasible and  and z-value is {z}')
      
  except:
    print(f'...it is singular')

In [27]:
bv_list = itertools.combinations(list(range(n)), m)
for bv in bv_list:
  bfs(bv)

bv is (0, 1, 2)
...bs is [2. 6. 2.]
...feasible and  and z-value is 36.0
bv is (0, 1, 3)
...bs is [4. 3. 6.]
...feasible and  and z-value is 27.0
bv is (0, 1, 4)
...bs is [ 4.  6. -6.]
bv is (0, 2, 3)
...bs is [ 6. -2. 12.]
bv is (0, 2, 4)
...it is singular
bv is (0, 3, 4)
...bs is [ 4. 12.  6.]
...feasible and  and z-value is -599987.9999999999
bv is (1, 2, 3)
...bs is [ 9.  4. -6.]
bv is (1, 2, 4)
...bs is [6. 4. 6.]
...feasible and  and z-value is -599970.0
bv is (1, 3, 4)
...it is singular
bv is (2, 3, 4)
...bs is [ 4. 12. 18.]
...feasible and  and z-value is -1800000.0