<a href="https://colab.research.google.com/github/songqsh/MA2210/blob/main/src/BigM_for_Equality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Big M for the equality constraints

In [1]:
# import package
import numpy as np
import numpy.linalg as la
float_formatter = "{:.2f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
import pandas as pd
import warnings
#ignore by message
warnings.filterwarnings("ignore", message="divide by zero encountered in true_divide")

## Matrix in numpy

## Pivotizing

Pivotizing with $(i,j)$-entry means converting the matrix by multiple EROS so that the resulting matrix has all zeros in $j$-column, but one in $(i,j)$-entry. This is the key step in updating basic feasible solution.

In [2]:
#pivotize with (i,j)
def pivot(A, i, j):
  A[i] = A[i]/A[i,j] #scale to get one in (i,j)
  n_rows, _ = A.shape
  for k in range(n_rows):
    if k==i:
      continue # skip i-row
    A[k] = A[k] - A[i]*A[k,j] # replacement to get zero

In [23]:
# input initial tableau
M = 100000
A = np.array([
               [1, -3, -5, 0, 0, M, 0], 
               [0, 1, 0, 1, 0, 0, 4], 
               [0, 0, 2, 0, 1, 0, 12],
               [0, 3, 2, 0, 0, 1, 18]
               ], dtype = float)
m, n = A.shape
m = m-1
n = n-2
print(f'{m} constraints and {n} variables')

pd.DataFrame(A) # print matrix

3 constraints and 5 variables

     0    1    2    3    4         5     6
0  1.0 -3.0 -5.0  0.0  0.0  100000.0   0.0
1  0.0  1.0  0.0  1.0  0.0       0.0   4.0
2  0.0  0.0  2.0  0.0  1.0       0.0  12.0
3  0.0  3.0  2.0  0.0  0.0       1.0  18.0