<a href="https://colab.research.google.com/github/songqsh/MA2210/blob/main/src/tie_break_ev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simplex method

We are going to illustrate simplex tableau method for linear programing using the following example - WG:
$$\max z = 3 x_1 + 3 x_2$$
s.t.
$$\begin{array}{lll}
x_1 & & \le 4 \\
& 2 x_2 &\le 12 \\
3x_1 & + 2x_2 & \le 18\\
x_1, & x_2 & \ge 0
\end{array}
$$

In [1]:
# import package
import numpy as np
import numpy.linalg as la
float_formatter = "{:.2f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
import pandas as pd

## Pivotizing

Pivotizing with $(i,j)$-entry means converting the matrix by multiple EROS so that the resulting matrix has all zeros in $j$-column, but one in $(i,j)$-entry. This is the key step in updating basic feasible solution.

In [2]:
#pivotize with (i,j)
def pivot(A, i, j):
  A[i] = A[i]/A[i,j] #scale to get one in (i,j)
  n_rows, _ = A.shape
  for k in range(n_rows):
    if k==i:
      continue # skip i-row
    A[k] = A[k] - A[i]*A[k,j] # replacement to get zero

# Initial tableau

In [3]:
# input augmented matrix
M = np.array([
               [1, -3, -3, 0, 0, 0, 0], 
               [0, 1, 0, 1, 0, 0, 4], 
               [0, 0, 2, 0, 1, 0, 12],
               [0, 3, 2, 0, 0, 1, 18]
               ], dtype = float)
pd.DataFrame(M) # print matrix

     0    1    2    3    4    5     6
0  1.0 -3.0 -3.0  0.0  0.0  0.0   0.0
1  0.0  1.0  0.0  1.0  0.0  0.0   4.0
2  0.0  0.0  2.0  0.0  1.0  0.0  12.0
3  0.0  3.0  2.0  0.0  0.0  1.0  18.0

- pivot column is the one corresponding to the most negative coefficient in zero row. There is tie between column 1 and  column 2, now my choice is column 1

In [4]:
#ratios
ratios = np.divide(M[:,6], M[:, 1])
print(ratios)

[-0.00 4.00 inf 6.00]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

- pivot row is the minium positive ratio, which is row 1

## Simplex tableau iterations

In [5]:
pivot(M, 1, 1)
pd.DataFrame(M) # print

     0    1    2    3    4    5     6
0  1.0  0.0 -3.0  3.0  0.0  0.0  12.0
1  0.0  1.0  0.0  1.0  0.0  0.0   4.0
2  0.0  0.0  2.0  0.0  1.0  0.0  12.0
3  0.0  0.0  2.0 -3.0  0.0  1.0   6.0

- my next pivot column is column 2

In [6]:
#ratios
ratios = np.divide(M[:,6], M[:, 2])
print(ratios)

[-4.00 inf 6.00 3.00]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

- pivot row is row 3

In [7]:
pivot(M, 3, 2)
pd.DataFrame(M) #print

     0    1    2    3    4    5     6
0  1.0  0.0  0.0 -1.5  0.0  1.5  21.0
1  0.0  1.0  0.0  1.0  0.0  0.0   4.0
2  0.0  0.0  0.0  3.0  1.0 -1.0   6.0
3  0.0  0.0  1.0 -1.5  0.0  0.5   3.0

- pivot column is col 3

In [8]:
#ratios
ratios = np.divide(M[:,6], M[:, 3])
print(ratios)
# pivot row corresponds to the minimum positive raitos, if you have inf or negative raito, just skip

[-14.00 4.00 2.00 -2.00]

pivot row is 2

In [9]:
pivot(M, 2, 3)
pd.DataFrame(M) #print

     0    1    2    3         4         5     6
0  1.0  0.0  0.0  0.0  0.500000  1.000000  24.0
1  0.0  1.0  0.0  0.0 -0.333333  0.333333   2.0
2  0.0  0.0  0.0  1.0  0.333333 -0.333333   2.0
3  0.0  0.0  1.0  0.0  0.500000  0.000000   6.0